.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.actions {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.addNewUser span {
  margin-left: 8px;
}

@media (max-width: 500px) {
  .actions {
    flex-direction: column;
  }

  .addNewUser {
    margin-bottom: 8px;
  }
}
