* {
  box-sizing: border-box;
}

:root {
  --background-color: #111317;
  --primary-color: #e1261c;
  --secondary-color: #7a818e;
  --tertiary-color: #e9edf4;
  --text-color: #111317;
  --secondary-text-color: #fff;
  --font-size: 16px;
}

html {
  background-color: var(--background-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  place-items: center;
}

#root {
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1280px;
  padding: 32px;
  text-align: center;
  width: 100%;
}

input {
  background-color: var(--tertiary-color);
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: var(--font-size);
  min-height: 42px;
  outline: 0;
  padding: 0 16px;
}

input:focus,
input:hover {
  border-color: var(--secondary-color);
}

input::placeholder {
  color: var(--secondary-color);
}

input:focus,
input:hover {
  border-color: var(--secondary-color);
}

button {
  align-items: center;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 8px;
  color: var(--secondary-text-color);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size);
  font-weight: 700;
  justify-content: center;
  min-width: 150px;
  outline: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
}

button:focus-visible {
  outline: 2px solid var(--secondary-color);
}

button.secondary {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}
